:root {
  --main-bcgrnd-color: #e5e5e5;
  --main-font-color: #212121;
  --button-color: #2196f3;
  --add-font-color: #000000;
  --paragraph-color: #757575;
  --white-color: #ffffff;
  --second-bcgrnd-color: #2f303a;
  --third-bcgrnd-color: #f5f4fa;
  --rgba-color: rgba(255, 255, 255, 0.6);
  --border-header: #ececec;
  --social-network: #afb1b8;
  --social-network-rgba: rgba(255, 255, 255, 0.1);
  --rgba-bcgrnd-color-for-work: rgba(47, 48, 58, 0.8);
  --rgba-bcgrnd-color-for-search: rgba(33, 150, 243, 0.9);
  --rgba-backdrop-color: rgba(0, 0, 0, 0.2);
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-font-color);
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--add-font-color);
}

.list {
  list-style: none;
  font-style: normal;
}

.hidden-title {
  display: none;
}

.header--appearance {
  margin-left: auto;
  margin-right: auto;

  background-color: var(--white-color);
  border-bottom: 1px solid var(--main-bcgrnd-color);
}

.header__box {
  display: flex;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.header__navigation {
  display: flex;
  align-items: center;
}

.header__logo {
  display: block;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--add-font-colour);
}

.header__web {
  color: var(--button-color);
}

.header__list {
  display: flex;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.header__link-border {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--add-font-color);
}

.header__items:not(:last-child) {
  margin-right: 50px;
}

.header__studio,
.header__portfolio {
  position: relative;
  color: var(--button-color);
}

.header__studio::after,
.header__portfolio::after {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 4px;

  content: "";

  transform: translateY(1px);
  border-radius: 2px;
  background-color: var(--button-color);
}

.header__contacts {
  display: flex;
  margin-left: auto;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.header__communication:not(:last-child) {
  margin-right: 30px;
}

.header__reference {
  display: flex;
  color: var(--paragraph-color);
  fill: var(--paragraph-color);
  align-items: center;
}

.header__envelope-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.header__phone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.header__link-animation,
.header__reference--animation {
  position: relative;
  transition: color 250ms var(--transition-timing-function),
    fill 250ms var(--transition-timing-function);
}

.header__link-animation:hover,
.header__link-animation:focus,
.header__reference--animation:hover,
.header__reference--animation:focus {
  color: var(--button-color);
  fill: var(--button-color);
}

.hero--appearance {
  padding-top: 200px;
  padding-bottom: 200px;
}
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
}

.hero__title {
  width: 696px;

  margin: 0 auto 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero__button {
  display: block;
  padding: 10px 32px;
  min-width: 200px;
  margin: 0 auto;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  background-color: var(--button-color);

  cursor: pointer;
}
.hero__button:hover,
.hero__button:focus {
  color: var(--add-font-color);
}

.feature--appearance {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature__list {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.feature__items:not(:last-child) {
  margin-right: 30px;
}

.feature__border {
  display: flex;
  width: 270px;
  height: 120px;

  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 30px;

  background-color: var(--third-bcgrnd-color);
  border-radius: 4px;
}

.feature__icon {
  width: 70px;
  height: 70px;
}

.feature__title {
  width: 270px;

  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature__paragraph {
  width: 270px;

  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.work {
  padding-bottom: 94px;
}

.work .work-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.work .list {
  display: flex;
  justify-content: center;

  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.work .items:not(:last-child) {
  margin-right: 30px;
}

.work .img {
  display: block;
  margin: 0;
}

.work .work-img {
  position: relative;
}

.work .work-overlay {
  position: absolute;

  bottom: 0;
  left: 0;

  width: 100%;
  height: 70px;

  background-color: var(--rgba-bcgrnd-color-for-work);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.work .work-text {
  display: block;

  margin: 27px auto;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

/* .work .work-overlay {
  position: relative;
  display: flex;
}

.work .bottom-overlay {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 70px;

  background-color: var(--work-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.work .bottom-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);

  min-width: 205px;
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.1px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
} */

/* Стили для секция команда */

.team {
  background-color: var(--third-bcgrnd-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.team .team-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.team .team-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.team .team-line {
  background-color: var(--white-color);
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team .team-line:not(:last-child) {
  margin-right: 30px;
}

.team .team-header {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.team .team-garagraph {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}

.team-list .img {
  display: block;
  margin: 0;
}
/* Иконки для соц сетей */
.team .social-box {
  margin-top: 16px;
}

.team .social-list {
  display: flex;
  padding: 0;
  justify-content: center;
}

.team .social-items:not(:last-child) {
  margin-right: 10px;
}

.team .social-link {
  display: flex;

  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  fill: var(--social-network);
  transition: background-color 250ms var(--transition-timing-function),
    fill 250ms var(--transition-timing-function);
}

.team .social-link:hover,
.team .social-link:focus {
  background-color: var(--button-color);
  fill: var(--white-color);
}

.team .social-icons {
  width: 20px;
  height: 20px;
}

/* Стили для секции клиенты */

.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers .regular-customers {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.customers .list-customers {
  display: flex;

  margin-left: auto;
  margin-right: auto;
  padding: 0;
  justify-content: center;
}

.customers .items:not(:last-child) {
  margin-right: 30px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 170px;
  height: 92px;
  margin-right: auto;
  margin-left: auto;

  border: 1px solid var(--social-network);
  border-radius: 4px;
  fill: var(--social-network);
  transition: fill 250ms var(--transition-timing-function),
    border-color 250ms var(--transition-timing-function);
}

.customers .customers-link:hover,
.customers .customers-link:focus {
  fill: var(--button-color);
  border-color: var(--button-color);
}

.customers .customers-icon {
  width: 106px;
  height: 60px;
}

/* Стили для подвала */

.footer {
  background-color: var(--second-bcgrnd-color);
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .footer-box {
  display: flex;
}

.footer .footer-logo {
  display: inline-block;
  margin-bottom: 20px;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer .footer-logo-web {
  color: var(--button-color);
}

.footer .footer-link,
.footer .footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-color);
  transition: color 250ms var(--transition-timing-function);
}
.footer .footer-link {
  color: var(--rgba-color);
}

.footer .footer-link:hover,
.footer .footer-address:hover,
.footer .footer-link:focus,
.footer .footer-address:focus {
  color: var(--button-color);
}

.footer .list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.footer .goto:not(:last-child) {
  margin-bottom: 9px;
}

.footer .address-box {
  display: flex;
  flex-direction: column;
}

/* Follower  */

.footer .address-box:not(:last-child) {
  margin-right: 70px;
}

.footer .follow-title {
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}

.footer .follow-list {
  display: flex;
}

.footer .follow-item:not(:last-child) {
  margin-right: 10px;
}

.footer .follow-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: var(--social-network-rgba);
  fill: var(--white-color);

  transition: background-color 250ms var(--transition-timing-function);
}

.footer .follow-link:hover,
.footer .follow-link:focus {
  background-color: var(--button-color);
}

.footer .follow-icon {
  width: 20px;
  height: 20px;
}

.follow-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 93px;
  width: 570px;
  height: 86px;
}

.follow-us-title {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.follow-us-mail {
  margin-right: 12px;
  width: 358px;
  height: 50px;
  padding: 0;
}

.follow-us-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  min-width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  background-color: var(--button-color);
}

.follow-us-text {
  display: flex;
  min-width: 109px;
  height: 30px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--white-color);
}

.follow-us-icon {
  display: flex;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

/* Стили для портфолио */
.filter {
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter .filter-list {
  display: flex;
  margin-top: 0;
  padding: 0;
  margin-bottom: 0;
  margin-bottom: 50px;
}

.filter .result-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0;
  padding: 0;
  margin-bottom: 0;
}

.filter-list > .items:not(:last-child) {
  margin-right: 8px;
}

.filter .sort {
  display: flex;
  justify-content: center;
}

.filter-button {
  display: inline-block;
  padding: 8px 22px;
  min-width: 73px;
  text-align: center;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  border: transparent;
  border-radius: 4px;
  background-color: var(--third-bcgrnd-color);
  cursor: pointer;

  transition: color 250ms var(--transition-timing-function),
    background-color 250ms var(--transition-timing-function),
    box-shadow 250ms var(--transition-timing-function);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-color);
  background-color: var(--button-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter .filter-search {
  background-color: var(--white-color);
  width: calc((100% - 30 * 2px) / 3);
}

.filter .border {
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms var(--transition-timing-function);
}

.filter .border:hover,
.filter .border:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-search .center {
  padding: 20px 24px 20px;
}

.filter .result-search {
  gap: 30px;
}

.filter .filter-action {
  position: relative;
  overflow: hidden;
}

.filter .hiden-action {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transform: translateY(100%);
  background-color: var(--rgba-bcgrnd-color-for-search);
  transition: transform 250ms var(--transition-timing-function);
}

.filter .border:hover .hiden-action {
  transform: translateY(0%);
}

.filter .hiden-text {
  display: block;

  margin: 63px 24px;
  min-width: 322px;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

/* Additional distance between row and column */

/* .result-search > .filter-search:not(:nth-child(3n)) {
  margin-right: 30px;
}

.result-search > .filter-search:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
} */

.filter .img {
  display: block;
  margin: 0;
}

.filter .filter-title {
  width: 322px;

  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.filter .filter-paragraph {
  width: 322px;

  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>BACKDROP<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

.backdrop {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--rgba-backdrop-color);
  opacity: 1;
  transition: opacity 250ms var(--transition-timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;

  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--white-color);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--transition-timing-function);
}

.backdrop .modal-button {
  display: block;
  padding: 0;
  margin-left: auto;
  margin-top: 8px;
  margin-right: 8px;

  border: none;
  width: 30px;
  height: 30px;

  transition: fill 250ms var(--transition-timing-function);

  cursor: pointer;
}

.backdrop .modal-button:hover,
.backdrop .modal-button:focus {
  fill: var(--button-color);
}

.backdrop .modal-icon {
  width: 30px;
  height: 30px;

  margin: 0;
  padding: 0;

  background-color: var(--white-color);
}

.backdrop .contacts {
  display: flex;
  flex-direction: column;
}

.backdrop .contacts-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  margin-top: 2px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
}

.backdrop .contacts-label {
  margin-right: auto;
  margin-left: auto;
}

.backdrop .contacts-name {
  position: relative;
}

/* .backdrop .contacts-name::after {
  position: absolute;
  top: calc(100% / 2);
  left: 12px;

  display: block;
  content: "";
  width: 18px;
  height: 18px;
  background-image: url("../images/name.svg");
} */

.backdrop .contacts-tel {
  position: relative;
}

/* .backdrop .contacts-tel::after {
  position: absolute;
  top: calc((100% + 10px) / 2);
  left: 12px;

  display: block;
  content: "";
  width: 18px;
  height: 18px;
  background-image: url("../images/phone-contacts.svg");
} */

.backdrop .contacts-mail {
  position: relative;
}

/* .backdrop .contacts-mail::after {
  position: absolute;
  top: calc((100% + 10px) / 2);
  left: 12px;

  display: block;
  content: "";
  width: 18px;
  height: 18px;
  background-image: url("../images/mail-contacts.svg");
} */

.backdrop .contacts-label:nth-child(n + 3) .contacts-box {
  margin-top: 10px;
}

.backdrop .contacts-box {
  display: block;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--paragraph-color);
}

.backdrop .contacts-input {
  min-width: 448px;
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: outline-color 250ms var(--transition-timing-function),
    border-color 250ms var(--transition-timing-function);
  cursor: pointer;
}

.contacts-input:focus,
.contacts-input:hover {
  outline-color: var(--button-color);
  border-color: var(--button-color);
}

.contacts-input:focus + .icon-box,
.contacts-input:hover + .icon-box {
  fill: var(--button-color);
  transition: fill 250ms var(--transition-timing-function);
}

.backdrop .contacts-label:nth-child(2) .icon-box {
  position: absolute;

  top: calc(100% / 2);
  left: 12px;

  width: 18px;
  height: 18px;
}

.backdrop .contacts-label:nth-child(n + 3) .icon-box {
  position: absolute;

  top: calc((100% + 10px) / 2);
  left: 12px;

  width: 18px;
  height: 18px;
}

.contacts-label .icon {
  display: block;
  width: 18px;
  height: 18px;
  margin: 0;
  padding: 0;
}

.backdrop .contacts-comment {
  min-width: 448px;
  height: 120px;
  resize: none;
  padding-left: 16px;
  padding-top: 12px;
  margin-bottom: 20px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: outline-color 250ms var(--transition-timing-function),
    border-color 250ms var(--transition-timing-function);
}

.backdrop .contacts-comment:focus,
.backdrop .contacts-comment:hover {
  outline-color: var(--button-color);
  border-color: var(--button-color);
}

.backdrop .contacts-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Hidden Check-box */
.contacts-agree {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contacts-checkbox .check-box-icon {
  display: block;
  width: 16px;
  height: 15px;

  border: 1px solid #000000;
  border-radius: 2px;

  transition: background-color 250ms var(--transition-timing-function);
}

.backdrop .contacts-agree:checked + .check-box-icon {
  background-color: var(--button-color);
  border-color: var(--button-color);
  background-image: url("../images/checkbox.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.backdrop .contacts-checkbox {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: 52px;
  margin-bottom: 30px;
}

.backdrop .checkbox-text {
  margin-left: 7px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}

.backdrop .checkbox-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: var(--button-color);
}

.contacts-button {
  margin: 0 auto;
  padding: 10px 52px;

  min-width: 200px;
  height: 50px;

  background-color: var(--button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  cursor: pointer;
}

.backdrop .contacts-button-text {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>FOLLOW FOOTER<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.footer .follow-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;

  margin-left: 93px;
  min-width: 570px;
  height: 86px;
}

.footer .follow-text {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  margin-right: auto;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}

.footer .follow-lable {
  flex-direction: column;

  margin-bottom: 0;
  padding: 0;
  margin-right: 12px;
}

.footer .follow-mail {
  display: flex;
  align-items: center;
  width: 358px;
  height: 50px;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--white-color);
}

.footer .follow-mail::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer .follow-button {
  display: flex;

  align-items: center;
  padding: 0;
  min-width: 200px;
  height: 50px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--button-color);
  border: none;
  cursor: pointer;
}

.footer .follow-button-text {
  margin-left: 28px;
  margin-right: 10px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  font-family: inherit;

  color: var(--white-color);
}

.footer .follow-button-icon {
  width: 24px;
  height: 24px;
}

.footer .follow-form .icon {
  width: 24px;
  height: 24px;
}
