.feature--appearance {
  padding-top: 60px;
  padding-bottom: 60px;

  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.feature__list {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 30px;
  }
  @include desktop {
    gap: 0px 30px;
  }
  // display: flex;
  // justify-content: center;
  // margin-top: 0;
  // margin-bottom: 0;
  // padding: 0;
  // margin-right: auto;
  // margin-left: auto;
}

.feature__items {
  @include tablet {
    flex-basis: calc((100% - 30px) / 2);
  }
  @include desktop {
    flex-basis: calc((100% - 30px * 3) / 4);
  }
}

// .feature__items:not(:last-child) {
//   margin-right: 30px;
// }

.feature__border {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 120px;
  margin-bottom: 30px;
  @include tablet {
    width: 354px;
    height: 120px;
  }
  @include desktop {
    width: 270px;
  }
  // display: flex;
  // width: 270px;
  // height: 120px;

  // justify-content: center;
  // align-items: center;
  // margin-top: 0;
  // margin-bottom: 30px;

  background-color: var(--third-bcgrnd-color);
  border-radius: 4px;
}

.feature__icon {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 70px;
  height: 70px;
}

.feature__title {
  // width: 270px;
  margin-bottom: 10px;
  text-align: center;
  @include tablet {
    text-align: start;
  }

  // margin-top: 0;
  // margin-bottom: 10px;

  // font-weight: 700;
  // font-size: 14px;
  // line-height: 1.1;
  // letter-spacing: 0.03em;
  // text-transform: uppercase;

  @include fonts($fw: 700, $lh: 16px);
  text-transform: uppercase;
  color: var(--main-font-color);
}

.feature__paragraph {
  margin-bottom: 30px;
  text-align: start;
  @include tablet {
    margin-bottom: 27px;
  }
  @include desktop {
    width: 270px;
  }

  // width: 270px;

  // margin-top: 0;
  // margin-bottom: 0;

  // font-size: 14px;
  // line-height: 1.7;
  // letter-spacing: 0.03em;
  @include fonts;
  color: var(--paragraph-color);
}
