.footer {
  background-color: var(--second-bcgrnd-color);
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;

  .footer-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include tablet {
      flex-direction: unset;
    }
  }

  .footer-logo {
    display: inline-block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    @include fonts($ff: Raleway, $fw: 700, $fs: 26px, $lh: 19px);
    color: var(--white-color);
    @include desktop {
      margin-right: auto;
      margin-left: 0;
    }
  }

  .footer-logo-web {
    color: var(--button-color);
  }

  .footer-link,
  .footer-address {
    @include fonts($fs: 14px, $lh: 24px);

    color: var(--white-color);
    @include trans($tf: color);
    // transition: color 250ms var(--transition-timing-function);
  }

  .footer-link {
    color: var(--rgba-color);
  }

  .footer-link:hover,
  .footer-address:hover,
  .footer-link:focus,
  .footer-address:focus {
    color: var(--button-color);
  }

  .address-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include desktop {
      align-items: flex-start;
    }
  }

  .goto:not(:last-child) {
    margin-bottom: 9px;
  }

  .address-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;

    @include tablet {
      margin-right: auto;
      margin-left: 76px;
    }

    @include desktop {
      margin-right: auto;
      margin-left: 0;
    }
  }

  .follow-box {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;

    @include tablet {
      margin-top: 5px;
    }
  }

  .follow-title {
    margin: 0 auto 20px;

    @include fonts($fw: 700, $lh: 15px);
    text-transform: uppercase;

    color: var(--white-color);

    @include desktop {
      margin-left: 0;
      margin-right: auto;
    }
  }

  .follow-list {
    display: flex;
  }

  .follow-item:not(:last-child) {
    margin-right: 10px;
  }

  .follow-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;

    background-color: var(--social-network-rgba);
    fill: var(--white-color);

    @include trans($tf: background-color);
    // transition: background-color 250ms var(--transition-timing-function);

    &:hover,
    &:focus {
      background-color: var(--button-color);
    }
  }
  .follow-icon {
    width: 20px;
    height: 20px;
  }

  .follow-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;

    // justify-content: flex-end;

    // margin-left: 93px;
    // min-width: 570px;
    // height: 86px;
  }
  .follow-text {
    display: block;
    margin-top: 0;
    margin-bottom: 20px;

    text-align: center;
    @include fonts($fw: 700, $fs: 14px, $lh: 16px);
    text-transform: uppercase;

    color: var(--white-color);
  }
  .follow-lable {
    flex-direction: column;

    margin-bottom: 0;
    padding: 0;
  }

  .follow-mail {
    display: flex;
    align-items: center;
    width: 358px;
    height: 50px;
    padding-left: 16px;
    margin-bottom: 20px;

    @include tablet {
      min-width: 450px;
    }

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: var(--white-color);
  }

  .follow-mail::placeholder {
    @include fonts($fs: 16px, $lh: 20px);
    color: rgba(255, 255, 255, 0.6);
  }

  .follow-button {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--button-color);
    border: none;
    cursor: pointer;
  }

  .follow-button-text {
    // margin-left: 28px;
    margin-right: 10px;

    @include fonts($ff: inherit, $fw: 700, $fs: 16px, $lh: 30px, $ls: 0.06em);
    text-align: center;
    color: var(--white-color);
  }
  // .follow-button-icon {
  //   width: 24px;
  //   height: 24px;
  // }

  .follow-form .icon {
    width: 24px;
    height: 24px;
  }
}

/* Follower  */

.follow-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 93px;
  width: 570px;
  height: 86px;
}

.follow-us-title {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-bottom: 20px;

  @include fonts($fw: 700, $fs: 14px, $lh: 16px);
  text-transform: uppercase;
  color: var(--white-color);
}

.follow-us-mail {
  margin-right: 12px;
  width: 358px;
  height: 50px;
  padding: 0;
}

.follow-us-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  min-width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  background-color: var(--button-color);
}

.follow-us-text {
  display: flex;
  min-width: 109px;
  height: 30px;

  @include fonts($fw: 700, $fs: 16px, $lh: 30px, $ls: 0.06em);
  color: var(--white-color);
}

.follow-us-icon {
  display: flex;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>FOLLOW FOOTER
