.team {
  padding-top: 60px;
  padding-bottom: 60px;

  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  @media screen and (min-width: 320px) {
    background-color: var(--third-bcgrnd-color);
  }

  .team-title {
    // margin-top: 0;
    // margin-bottom: 50px;
    margin-bottom: 30px;
    text-align: center;
    @include fonts($fw: 700, $fs: 28px, $lh: 33px);

    @include desktop {
      @include fonts($fw: 700, $fs: 36px, $lh: 42px);
    }
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    @include tablet {
      gap: 30px 30px;
    }
    @include desktop {
      gap: 0px 30px;
    }
  }

  .team-line {
    width: 100%;
    margin-bottom: 30px;
    @include tablet {
      flex-basis: calc((100% - 30px) / 2);
    }
    @include desktop {
      flex-basis: calc((100% - 30px * 3) / 4);
    }

    background-color: var(--white-color);
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(5, 4, 4, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  // .team-line:not(:last-child) {
  //   margin-right: 30px;
  // }

  .team-header {
    margin-top: 30px;
    margin-bottom: 10px;

    @include fonts($fw: 500, $fs: 16px, $lh: 19px);
    text-align: center;
  }
  .team-garagraph {
    margin-top: 0;
    margin-bottom: 0;

    @include fonts($fs: 16px, $lh: 19px);
    text-align: center;
    color: var(--paragraph-color);
  }

  .social-box {
    margin-top: 16px;
  }
  .social-list {
    display: flex;
    padding: 0;
    justify-content: center;
  }
  .social-items:not(:last-child) {
    margin-right: 10px;
  }
  .social-link {
    display: flex;

    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    fill: var(--social-network);
    @include trans($tf: background-color);
    @include trans($tf: transition);
    // transition: background-color 250ms var(--transition-timing-function),
    //   fill 250ms var(--transition-timing-function);

    &:hover,
    &:focus {
      background-color: var(--button-color);
      fill: var(--white-color);
    }
  }

  .social-icons {
    width: 20px;
    height: 20px;
  }
}

.team-list .img {
  display: block;
  margin: 0;
  width: 100%;
}
