.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--add-font-color);
}

.list {
  list-style: none;
  font-style: normal;
}

.hidden-title {
  display: none;
}
